<h1>All Contestants</h1>

<% @contestants.each do |contestant| %>
  <section id=contestant-<%= contestant.id %>>
  <h3><%= contestant.name %></h3>
  <ul>
    <% contestant.projects_list.each do |project| %>
     <li><%= project %></li>
    <% end %>
  </ul>
  </section>
<% end %>
