<h1><%= @project.name %></h1>


<p>Material: <%= @project.material %></p>
<p>Number of Contestants: <%= @project.sum_contestants %></p>
<p>Average Years of Experience of Contestants: <%= @project.ave_exp %></p>
