<section class="project-details">
<h1>Project Name: <%= @project.name %></h1>
<p>Project Material: <%= @project.material %></p>
</section>

<section class="challenge-details">
<p>Challenge Theme: <%= @challenge.theme %></p>
</section>
